.unAuth {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;

  .loginText {
    font-size: 14px;
    color: #333;
  }
}

.auth {
  cursor: pointer;

  .avatarImage {
    border-radius: 50%;
    object-fit: cover;
  }
}
