@import '../../styles/colors.scss';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;

    img {
        border-radius: 10px;
    }
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-weight: 500;
    font-size: 18px;
    color: $primary-color;
}